<div id="modal-backdrop" class="hidden"></div>
<div id="create-postit-modal" class="hidden">
  <div class="modal-dialog">

    <div class="modal-header">
      <h3>Upload an Image</h3>
      <button type="button" class="modal-close-button">&times;</button>
    </div>

    <div class="modal-body">
      <form method="post" enctype="multipart/form-data">
        <label class="custom-file-upload">
          <input type="file" name="myimage"/>
          Choose Image
        </label>
        <input type="submit" id="upload" name="submit" value="Upload Image">
      </form>
    </div>

  </div>
</div>
